.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    /*Fijar cabecera*/
    flex-wrap: wrap;
    /*Esta propiedad  indica si los eslementos fluen a otra linea cuando se modifica la resolución de pantalla a la cual son sometidos*/
    z-index: 99;
    width: 100%;
    /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0;
    /* Posicionamos la cabecera al lado izquierdo */
    top: 0;
    /* Posicionamos la cabecera pegada arriba */
    position: fixed;
    /* Hacemos que la cabecera tenga una posición fija */
}
.container {
    width: 80%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
}
figure {
    margin: 0;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
}

header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px;
    padding-top: 70px;
    /* Relleno superior igual a la altura de la cabecera*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fjalla One", sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: "Sourec Sans Pro";
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 310px;
    /* background-image: url("../imagenes/programador-full-stack.jpg"); */
    background-color: #1b2127;
    /* background-size: 700px 500px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 300px;
    margin-bottom: 10px;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
    padding: 80px 20px 20px 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 15px dimgrey;
    flex-wrap: wrap;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: "Fjalla One";
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
    background-size: 500px 500px;
}
.project img{
    width: 100%;
}

.event-total {
    padding: 80px 0px 80px 0px;
}

.event-list-title {
    margin-left: 10px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event {
    margin: 10px;
    width: 80%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
    box-shadow: 0px 0px 15px lightsteelblue;
}

.event img {
    width: 100%;
    height: 200px;
    /* height: 200px; */
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
    position: relative;
    /*La propiedad  position especifica el tipo de método de posicionamiento utilizado para un elemento (estático, relativo, absoluto, fijo o adhesivo).Ayuda  a que el background se superponga sobre la imagen*/
    z-index: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 15px lightsteelblue;
}

.event-description {
    text-align: left;
}

.event-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .4s;
    /*Aporete de la comunidad para que se cambie el color del boton al poner el mouse sobre el*/
}

.event-url:hover {
    /*Aporete de la comunidad para que se cambie el color del boton al poner el mouse sobre el*/
    color: white;
    border: 1px #056fff;
    background-color: #056fff;
}


/*Aporete de la comunidad para que se cambie el color del boton al poner el mouse sobre el*/

.contact {
    /* background-color: #056fff; */
    /* background-color: #38b6ff; */
    background-color: #1b2127;
    color: white;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border: 1px solid #056fff;
    border-radius: 6px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url("https://i.imgur.com/ygRt8hH.png");
}

.social-link.facebook {
    background-image: url("https://i.imgur.com/Q4lgZFl.png");
}

.social-link.instagram {
    background-image: url("https://i.imgur.com/a0fnTjB.png");
}

.social-link.github {
    background-image: url("https://i.imgur.com/d2sKXHG.png");
}

.social-link.linkedin {
    background-image: url("https://i.imgur.com/2R61Yu3.png");
}

.form-email{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 300px;
}
.form-email label{
    margin-bottom: 8px;
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
}
.form-email textarea{
    min-height: 4rem;
}

button {
    margin-top: 5px;
    cursor: pointer;
}

.form-email button {
    display: inline-block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    transition: background-color .1s;
    background-color: #056fff;
}

.form-email:hover button {
    background-color: #38b6ff; 
}

.form-email h3 {
    font-family: "Sourec Sans Pro";
}

.footer {
    height: 9rem;
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.footer a {
    color: white;
    margin-left: 1rem;
}


@media (max-width:950px){
    .c-porfolio{
        margin-top: 10rem;
    }
    
}
@media(max-width:630px){
    .logo a img{
        display: none;
    }
}